.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 150px;
    padding-top: 0;
    flex-shrink: 0;

    background: rgba(0, 0, 0, 0.0);
}

.container {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    justify-content: center;
    align-items: center;
    background: #847577;
    border-radius: 60px;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.3);
}

.container div {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* object-fit: contain; */
}

.container img {
    height: 120px;
    transition: height 0.1s ease-in-out;
    cursor: pointer;
}

#back:hover,
#next:hover {
    height: 100px;
}

#doublenext:hover,
#doubleback:hover {
    height: 80px;
}

#doublenext {
    height: 100px;
    margin-left: 50px;
}

#doubleback {
    height: 100px;
    margin-right: 50px;
}

#back {
    transform: rotateX(180deg) rotateY(180deg);
}

#p2 .container div:nth-child(3) img,
#p2 .container div:nth-child(4) img {
    opacity: 0.2;
}

#p1 .container div:nth-child(1) img,
#p1 .container div:nth-child(2) img {
    opacity: 0.2;
}


#p5 .container div:nth-child(3) img,
#p5 .container div:nth-child(4) img {
    opacity: 0.2;
}