* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    position: relative;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}


.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.footer,
.main {
    height: 100px;
    background: #847577;
    color: #FBFBF2;
    display: flex;
    padding: 30px;
}

.main {
    flex-grow: 1;
    background: #f4f4f4;
}

/* .footer {} */