nav {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#Title {
    font-size: 100px;
    cursor: pointer;
    text-align: center;
}


nav div p {
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    border-radius: 10px 10px 0 0;

}

nav div p:hover {

    background-color: rgba(229, 230, 228, 0.1);
}

nav div p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 3px;
    background-color: #E5E6E4;
    border-radius: 3px;
    transition: width 0.3s ease-in-out;
}

nav div p:hover::after {
    width: 100%;
}